.top-hud {
  position: absolute;
  top: 0%;
  left: 0%;
  color: white;
  font-size: 28px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 30px;
}
.top-hud * {
  padding: 0px;
  margin: 0px;
}

.right-hud {
  position: absolute;
  top: 0%;
  right: 0%;
  color: white;
  font-size: 28px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 30px;
}
.right-hud * {
  padding: 0px;
  margin: 0px;
}

.bottom-hud {
  position: absolute;
  bottom: 0%;
  left: 0%;
  margin: 30px;
}
.bottom-hud * {
  padding: 0px;
  margin: 0px;
}

.heart-img {
  width: 8vw;
}

.menu {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  height:50vh;
  width: 33vw;
  background-color:rgba(173, 216, 230, 0.698);
}

.menu * {
  padding: 0px;
  margin: 0px;
}

.victory {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  height:50vh;
  width: 33vw;
  background-color:rgb(76, 212, 83, 0.698);
}

.victory * {
  padding: 0px;
  margin: 0px;
}

.defeat {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  height:50vh;
  width: 33vw;
  background-color:rgb(199, 64, 46, 0.698);
}

.defeat * {
  padding: 0px;
  margin: 0px;
}
