* {
  font-family: 'Raleway', sans-serif;
}

.top-hud {
  position: absolute;
  top: 0%;
  left: 0%;
  color: white;
  font-size: 7vh;
  margin: 5vh;
}
.top-hud * {
  padding: 0px;
  margin: 0px;
  color: rgb(255, 251, 0);
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  font-weight: bold;
}

.right-hud {
  position: absolute;
  top: 0%;
  right: 0%;
  color: white;
  font-size: 4.3vh;
  margin: 5vh;
}
.right-hud * {
  padding: 0px;
  margin: 0px;
  color: rgb(255, 251, 0);
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  font-weight: bold;
}

.bottom-hud {
  position: absolute;
  bottom: 0%;
  left: 0%;
  margin: 5vh;
}
.bottom-hud * {
  padding: 0px;
  margin: 0px;
}

.hp {
  height: 8vh;
}

.heart-img {
  width: 8vw;
}

.menu {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  height: 50vh;
  width: 33vw;
  border-radius: 5vh;
  text-align:center;
  background-color:rgba(173, 216, 230, 0.8);
}

.menu * {
  display: block;
  top: 50%;
  margin: auto;
  padding: 3vh;
}
.menu h1 {
  font-size: 5vh;
  padding-top: 6vh;
}
.menu h2 {
  font-weight: 100;
  font-size: 2.5vh;
  padding: 0.8vh;
}
.menu b {
  display: inline-block;
  margin: 0;
  padding: 0;
}

#victory {
  background-color:rgba(110, 255, 53, 0.8);
}

#defeat {
  background-color:rgba(248, 93, 93, 0.8);
}
.score {
  font-size: 8vh;
  font-weight: bold;
  padding: 2vh 0 1vh;
}

.button {
  background-color: #eee;
  margin-top: 3vh;
  size: 3vh;
  font-size: 3vh;
  font-weight: bold;
  border-radius: 2vh;
  box-shadow: 1px 2px 3px #666;
  border: none;
}
.button:hover {
  background-color: #ddd;
}

.resumeButton {
  padding: 1.5vh 1.5vw;
  font-size: 3vh;
  color: white;
  background-color: green;
  margin-bottom: 2vh;
  text-shadow: none;
  border: none;
  border-radius: 2vh;
}
.resumeButton:hover {
  background-color: rgb(0, 92, 0);
}
