.top-hud {
  position: absolute;
  top: 0%;
  left: 0%;
  color: white;
  font-size: 7vh;
  font-family: Arial, Helvetica, sans-serif;
  margin: 5vh;
}
.top-hud * {
  padding: 0px;
  margin: 0px;
  color: rgb(255, 251, 0);
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  font-weight: bold;
}

.right-hud {
  position: absolute;
  top: 0%;
  right: 0%;
  color: white;
  font-size: 4.3vh;
  font-family: Arial, Helvetica, sans-serif;
  margin: 5vh;
}
.right-hud * {
  padding: 0px;
  margin: 0px;
}

.bottom-hud {
  position: absolute;
  bottom: 0%;
  left: 0%;
  margin: 5vh;
}
.bottom-hud * {
  padding: 0px;
  margin: 0px;
}

.heart-img {
  width: 8vw;
}

.menu {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  height: 50vh;
  width: 33vw;
  border-radius: 5vh;
  text-align:center;
  background-color:rgba(173, 216, 230, 0.698);
}

.menu * {
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  top: 50%;
  margin: auto;
  padding: 3vh;
}

.menu h3 {
  padding: 1vh;
}

#victory {
  background-color:rgba(110, 255, 53, 0.698);
}

#defeat {
  background-color:rgba(230, 61, 61, 0.698);
}

.button {
  margin-top: 3vh;
  size: 3vh;
  font-size: 3vh;
  font-weight: bold;
}
